{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter une tâche à "{{ shoppingList.name }}"</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Ajouter</button>
    {{ form_end(form) }}

    <a href="{{ path('shopping_lists') }}">Retour à la liste des courses</a>
{% endblock %}
